<div class="front-page">
	
	<h1>Welcome to Hangman!</h1>
	
	<form action="/session" class="signin-form" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		
		<input id="new-game-button" type="submit" value="New Game" class="btn btn-primary">
	</form>
	
</div>

<script src="lib/jquery-2.1.1.js"></script>
<script>
	$(document).on("keypress", function (e) {
		if (e.keyCode === 13) {
			$("#new-game-button").click();
		}
	})
</script>