<div class="front-page">
	
	<h1>Coming soon: Hangman!</h1>
	
	<form action="/session" class="signin-form" method="post">
		<h3 class="form-header">Start playing!</h3>
		<input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
		
		<input type="submit" value="Begin" class="btn btn-primary">
		
	</form>
	
</div>